<% @tasks.each do |task| %>
  <h2><%= link_to task.name, task %></h2>
  <%= link_to "Delete", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
<% end %>


<p><%= link_to "New Task", new_task_path %></p>
